## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://forms.gle/EDdU2Zfq8zLvDea18]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [2]:
## 輸入資料
boy = [164, 175, 183, 173, 176, 159, 165, 165, 169, 151, 156, 163, 169, 144, 170, 177, 165, 160, 164, 171]
girl = [169, 170, 162, 154, 183, 173, 169, 167, 170, 185, 162, 175, 168, 151, 181, 170, 182, 156, 159, 160]

In [3]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
display(pd.DataFrame(boy).describe())
display(pd.DataFrame(girl).describe())

                0
count   20.000000
mean   165.950000
std      9.213691
min    144.000000
25%    162.250000
50%    165.000000
75%    171.500000
max    183.000000

                0
count   20.000000
mean   168.300000
std      9.766215
min    151.000000
25%    161.500000
50%    169.000000
75%    173.500000
max    185.000000

In [4]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
if np.mean(boy) > np.mean(girl):
    print('男生在平均身高上比較高')
else:
    print('女生在平均身高上比較高')

女生在平均身高上比較高

In [5]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
print('從母體選出的樣本不夠隨機，導致與日常生活中觀察的不一致。')

從母體選出的樣本不夠隨機，導致與日常生活中觀察的不一致。